

*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3

BITGRAM/
env/
.env

*.log
*.pot
*.py[cod]

.idea/
.vscode/
*.sublime-workspace
*.sublime-project

.DS_Store
Thumbs.db

.coverage
.coverage.*
nosetests.xml
test_results/
*.egg-info/
dist/
build/

docker-compose.override.yml
*.dockerignore

*.pem
*.key

*.egg
*.whl

# setting
local_settings.py

#image 
file


